<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Benedicta Grandeur, Bennie">
  <meta name="description" content="I am Benedicta Grandeur. I am a Relationship Manager at GTBank in the Commercial Banking Group.
  I have an MBA (Distinction) from the University of Nottingham. Previously a Banking Officer. I have founded 2 active companies.
  I strongly believe in Excellence and Collaboration">
  <meta name="keywords" content="Bennie, Benedicta Grandeur, Benedicta Ojeah,
   Business Development, Nigeria, MBA Finance, Leadership, Finance Consulting, Business Consulting">
  <meta name="og:description" content="I am Benedicta Grandeur. I am a Relationship Manager at GTBank in the Commercial Banking Group.
   I have an MBA (Distinction) from the University of Nottingham. Previously a Banking Officer. I have founded 2 active companies.
   I strongly believe in Excellence and Collaboration">
  <meta name="og:url" content="https://benedicta.xyz/">
  <meta name="og:site_name" content="benedicta.xyz">

</head>
<title>
  <%= htmlWebpackPlugin.options.title %>
</title>

<body>
  <div id="main">

  </div>
</body>

</html>
